/*

  INFO!!!
  This page was initially developed to fullfil one of the challenges proposed by Free Code Camp (https://www.freecodecamp.com)
  Code by Ronie Meque
  Available on https://github.com/roniemeque/SitePessoal 
  You are free to edit and share as long as give the proper credits (at least mention under the hood)

  Resources used that are NOT mine:
  Bootstrap; Jquery; Waypoints; Smooth Scroll function by css-tricks.com;

*/

@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,600,800';
body{font-family: 'Open sans', sans-serif; padding-top: 50px; padding-bottom: 5px; background: #000;}


/*HEADER*/
.header{
    height:100vh;
    background: #fff url(../imgs/headerbg.jpg) center no-repeat;
    background-attachment: fixed;
}
.header .container{
    text-align: center;
}
.header .container h1{
    color: #fff;
    font-size: 80px;
    padding-top: 100px;
    font-weight: 600; 
}
.header .container h2{
    color: #fff;
    padding-top: 50px;
    font-size: 23px;
}
.header .container h2 a{
    transition: color 0.5s ease;
    text-decoration: none;
    color: #D52664;
}
.header .container h2 a:hover{
    color: #fff;
}
/*HEADER*/


/*SOBRE*/
.about{
    height: 600px;
    background: #000;
    color: #fff;
}

.about .container{
    text-align: center;
    display: none;
}

.about .container p{
    padding-top: 50px;
    text-align: left;
}
/*SOBRE*/

/*PORTFOLIO*/
.portfolio{
    height: 600px;
    background: #fff;
}
.portfolio .container{
    text-align: center;
    display: none;
}
/*PORTFOLIO*/

/*CONTATO*/
.contact{
    height: 600px;
    background: #000;
    color: #fff;
}
.contact .container{
    text-align: center;
    display: none;
}
/*CONTATO*/

/*RODAPE*/
.footer{
    height: 200px;
    background: #fff url(../imgs/headerbg.jpg) center no-repeat;
    background-attachment: fixed;
    color: #fff;
}
.footer .container{
    text-align: center;
}

.footer .container .footercontact{
    display:  inline-block;
    text-align: center;
    margin-top: 60px;
}
.footer .container .footercontact span{
    display: inline-block;
}
.footer .container .footercontact ul{
    padding-left: 0;
}
.footer .container .footercontact li{
    display: inline-block;
    padding-left: 4px;
    padding-right: 4px;
}
.footer .container .footercontact li a{
    text-decoration: none;
    transition: color 0.5s ease;
    color: #D52664;
    font-size: 25px;
}
.footer .container .footercontact li a:hover{
    color: #fff;
}
/*RODAPE*/

/*Go to top button*/
.gotop{
    position: fixed;
    bottom: 50px;
    right: 50px;
    text-align: center;
    display: none;
}
.gotop a{
    text-decoration: none;
    color: #fff;
}
.gotop span{
    display: block;
}

/*Go to top button*/





/*clearfix*/
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
/*clearfix*/



/*Navbar*/
#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(119, 119, 119, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0);
    border-bottom-width: 0px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
    transition: background-color 0.5s ease;
    transition: font-size 0.1s ease;
    background-color: rgba(0, 0, 0, 0);
    font-size: 18px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover {
    color: rgba(0, 0, 0, 1) !important ;
    background-color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: bolder;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {

    color: rgba(85, 85, 85, 1);
    background-color: rgba(255, 255, 255, 1);

}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #fff;
    background-color: #fff;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #000000;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #000000;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #fff  ;
}
.navbar-default .navbar-collapse {text-align: center;}
.navbar-nav{display: inline-block;float: none !important; vertical-align: top;}
/*Navbar*/

/*Progress bar*/
.progress {
    position: fixed; 
    right: 0;
    left: 0; 
    bottom: 0; 
    padding-right: 0; 
    padding-left: 0;
    background: rgba(255, 255, 255, 0); 
    border: 0px solid rgba(255, 255, 255, 1);
    border-radius: 0px; 
    height: 5px;}
.progress {
    margin-bottom: 0; 
}
.progress-bar-custom {
    background: rgba(255, 255, 255, 1);
}
/*Progress bar*/

/*SOBRESITE*/
.sobresite{
    height: 400px; 
    background: black; 
    color: #fff; 
    text-align: center;
    position: fixed;
    width: auto;
    bottom: 100px;
    left: 100px;
    border: solid;
    display: none;
}
/*SOBRESITE*/




/*mobile adjustments below*/
